.signupError {
  color: red;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.signupError{
  color: red;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.loginError {
  color: red;
  font-size: 1.2em;
  margin-bottom: 1em;
}
